/*  
Style sheet for the black swan theme
*/

body {
  font-size: 14px;
  background-color: #fafafa;
  font-family: 'Lustria', serif;
}

a {
  color: #88bb33;
  text-decoration: none;
}

#header {
  background-color: #060606;
  margin-top: 20px;
  height: 120px;
  color: white;	
}

#footer_bottom {
  background-color: #060606;
  margin-bottom: 10px;
  height: 100%;
  min-height: 40px;
  color: white;	
  margin-top: 20px;
  padding: 10px;
}

.node div.content {
  padding: 10px;
}

#footer_col {
  background-color: #060606;
  margin-bottom: 10px;
  height: 100%;
  color:white;
  padding:10px;
}

#site-name a {
  font-size: 42px;
  letter-spacing: 3px;
  text-decoration: none;
}

#name-and-slogan {
	text-align: center;
}

#site-slogan {
  font-size: 18px;
  text-align: right;
}

#block-search-form {
  margin-top: 40px;
  text-align: center;
}

.block-secondary-menu ul li a, #block-system-navigation div.content ul li a {
  text-decoration: none;
}

.block-secondary-menu {
  text-align: center;
}

.content ul.menu li {
  list-style: none;
  margin: 0px;
}

.item-list ul li {
  list-style: none;
  margin: 0px;
}

.item-list ul li a {
  text-decoration: none;
}

.form-item, .form-actions {
  margin: 0px;
}

#block-system-main-menu {
  float: left;
}

#block-system-main-menu ul li{
  display: inline-block;
  padding: 2px 12px;
  border-radius: 8px;
  background-color: #252525;
}

#block-system-main-menu h2 {
  display: none;
}

li a.active {
  color: #88bb33;
  text-decoration: none;
}

.region-header-last {
  margin-top: 10px;
}

.region-sidebar h2, .footer h2 {
  background-color: #252525;
  color: #88bb33;
  padding: 5px;
  border-radius: 8px;
  padding-left: 15px;
  font-family: 'Orienta', sans-serif;
}

.region-sidebar div.block div.content, .footer div.block div.content {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: #88bb33;
  font-size: 14px;
}

.region-sidebar div.block ul li a, .article_details ul li a, .footer div.block ul li a{
  font-size: 16px;
  color: #252525;
  border-bottom: 2px dotted #88bb33;
}

.region-sidebar div.block ul li a:hover, .article_details ul li a:hover, .footer div.block ul li a:hover{
  border-bottom: 2px solid #88bb33;
}

.region-sidebar div.block table, .footer div.block table{
  padding-top: 15px; 
  width: 90%;
}

.region-sidebar div.block div.node-author, .region-sidebar div.block td.delete, .footer div.block td.delete, .footer div.block div.node-author, #header div.block-secondary-menu h2{
  display: none;
}

.region-sidebar div.block .more-link, .footer div.block .more-link{
  padding-top: 15px;
  text-align: center;
  
}

.node-title a {
  font-size: 16px;
  color: #252525;
  border-bottom: 2px dotted #88bb33;
}

.node-title a:hover {
  color: #252525;
  border-bottom: 2px solid #88bb33;
}

.tags {
  list-style:none;
  float:right;
}

.tag-item{
  padding: 1px 6px;
  background-color: #252525;
  border-radius: 8px;
  margin-left: 5px;
  display: inline-block;
}

.article_details {
  margin-top: 5px;
}

.node {
  margin-top: 20px;
  margin-bottom: 20px;
}

.node h2, #page-title {
  font-size: 24px;
  font-family: 'Orienta', sans-serif;
}

.node-article h2 a {
  color: black;
}

.article_edit {
  background-color: #252525;
  padding: 1px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
}

#main-wrapper {
  margin-top: 20px;
}

#main-wrapper h1 {
  font-size: 32px;
}

.form-submit {
  background-color: #252525;
  border-radius: 10px 10px 10px 10px;
  color: #88bb33;
  margin-right: 10px;
  padding: 2px 8px;
  margin-bottom: 10px;
  border-color: white;
}

.form-submit:hover {
  background-color: #555;
  color: #77cc33;
}

.user-picture {
  padding: 5px;
}

.comment ul.inline, .comment ul.links.inline {
  background-color: #252525;
  padding: 3px;
  border-radius: 8px;
  color: white;
}

.comment {
  margin-top: 15px;
  background-color: #aaa;
  border-radius: 12px;
  padding:5px;
}

.comment div.content {
  padding: 10px;
  min-height: 60px;
}

.comment h3 a{
  color: black;
  font-size: 18px;
}

.comment div.submitted {
  padding-left: 10px;
  display: inline
}

.comment div.submitted a{
  background-color: #252525;
  padding: 3px;
  border-radius: 8px;
}

.comment-user-picture {
  float:left;
  padding:10px
}

.comment-author span a{
  background-color: #252525;
  padding: 2px 8px;
  color: #88bb33;
  border-radius: 8px;
}

.profile .user-picture {
  float: left;
}

tr.odd, tr.even {
  background-color: #fafafa;
}